@charset "UTF-8";

.background-color{
    background-color: #007BFF;
}
.border{
    border: 1px solid red !important;
}
.custom-nav-icon{
    font-size: 1.8rem;
    color: white;
    border-color: #9ec7e8 !important;
}
.nav-link{
    color: white;
    font-size: 1.2rem;
}
.nav-link:hover{
    color: #a4a1c5;
}
.custom-success-bg{
    background-color: #28a745;
}
.custom-success-text{
    color: #28a745;
}
.custom-fail-bg{
    background-color: #c53030;
}
.custom-fail-text{
    color: #c53030;
}
.btn-popover{
    border: none;
    background-color: transparent;
    display: inline !important;
    position: relative;
}
.icon-popover{
    position: absolute;
    left: 2px;
    top: -9px;
}
.icon-popover:hover{
    color: #007BFF;
}
.min-width-80{
    min-width: 80;
}
.min-width-100{
    min-width: 100px;
}
.min-width-150{
    min-width: 150px;
}

#register {
    margin: 0;
    position: relative;
}

#filter {
    margin: 0;
    position: relative;
}

#slider {
    display: flex;
    justify-content: center;
    margin: 0;
}

main {
    overflow: hidden;
}
.btn-custom-select{
    background-color: #bc7f2c;
    color: white;
    border: none;
}
.btn-custom-select:hover{
    background-color: #9c794873;
    color: white;
}
.btn-custom-select:active{
    background-color: #9c794873;
    color: white;
}