@charset "UTF-8";

body{
    background-color: #060817f5;
}
.display{
    height: 250px;
}
.display h1{
    color: white;
    font-size: 3em;
    padding-right: 3px;
}
.displayInput{
    background-color: transparent;
    border: none;
    height: 60px;
    width: 100%;
    font-size: 3em;
    text-align: right;
    color: white;
}
.displayHistory{
    background-color: transparent;
    border: none;
    height: 25px;
    width: 100%;
    text-align: right;
    font-size: 1em;
    color: gray;
}
.calc{
    width: 416px;
    height: 746px;
    background-color: #1e202191;
}
.btn-custom{
    width: 100px;
    height: 80px;
    color: white;
    background-color: #3233324d;
    border: none;
    border-radius: 0;
    margin: 1px 1px;
    font-size: 30px;
}
.btn-custom:hover{
    background-color: #767776;
    color: white;
    transition-duration: .4s;
    transition-timing-function: ease;
}
button:disabled{
    background-color: #ededed5c !important;
}
.btn-custom-black{
    background-color: #111010;
}
@media (max-width: 339.98px){
    .calc{
        width: 208px;
        height: 373px;
    }
    .btn-custom{
        width: 50px;
        height: 40px;
        font-size: 15px;
    }
    .displayInput{
        height: 30px;
        font-size: 1.5em;
    }
    .displayHistory{
        height: 12.5px;
        font-size: .5em;
    }
    .display{
        height: 125px;
    }
} 
@media (min-width: 340px) and (max-width: 459.98px){
    .calc{
        width: 312px;
        height: 559.5px;
    }
    .btn-custom{
        width: 75px;
        height: 60px;
        font-size: 22.5px;
    }
    .displayInput{
        height: 45px;
        font-size: 2.25em;
    }
    .displayHistory{
        height: 18.75px;
        font-size: .75em;
    }
    .display{
        height: 187.5px;
    }
}